$shadow-white: #fdfdfd;
$shadow-gray: #878787;

.wrapper {
  background-color: #bdbdbd;
  flex: 0 0 304px;
  margin-bottom: 50px;
  box-shadow: inset -8px -8px 0 $shadow-gray, inset 8px 8px 0 $shadow-white;
  position: relative;
  padding: 20px;
  zoom: 1.45;

  &::before {
    content: '';
    position: absolute;
    width: 11px;
    height: 8px;
    right: 0;
    top: 0;
    background-color: $shadow-white;
    clip-path: polygon(100% 0, 0 135%, 0 0);
  }
  &::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 11px;
    bottom: 0;
    left: 0;
    background-color: $shadow-white;
    clip-path: polygon(135% 0, 0 100%, 0 0);
  }

  .box {
    box-shadow: inset -4px -4px 0 $shadow-white, inset 4px 4px 0 $shadow-gray;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 6px;
      height: 4px;
      right: 0;
      top: 0;
      background-color: $shadow-gray;
      clip-path: polygon(100% 0, 0 150%, 0 0);
    }
    &::after {
      content: '';
      position: absolute;
      width: 4px;
      height: 6px;
      bottom: 0;
      left: 0;
      background-color: $shadow-gray;
      clip-path: polygon(150% 0, 0 100%, 0 0);
    }
  }
}
