.sapper {
  padding-top: 100px;
  display: flex;
  justify-content: center;

  .top {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .dial,
    .points {
      display: flex;
    }
  }

  .playground {
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
  }
}
