.box {
  display: flex;
  justify-content: center;
}

.sapper {
  padding-top: 100px;
}

.row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.cells {
  display: block;

  .sub-row {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
  }
}

.icon {
  background-image: url('./assets/sprite.png');
  background-position: 0 0;
}
